name: Build

on:
  push:
    branches:
      - master
    paths:
      - src/**
      - public/**
      - index.html

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Checkout target branch
        run: |
          git checkout --orphan dist

      - name: Copy files
        run: |
          # Remove existing files
          git rm -rf . || true
          rm -rf node_modules

          # Copy dist folder contents to root
          cp -r ./dist/* ./

          # Delete dist folder
          rm -rf dist

          # 404
          cp index.html 404.html

      - name: Commit
        run: |
          git add .
          git commit -m "Build" || echo "No changes to commit"

      - name: Push
        run: |
          git push origin dist --force
